
.LBA_Label{
	    border-style: solid; /** Used for testing **/
        width:50.8mm;
        height:25.4mm;
        page-break-after: always;
        
}

.LBA_name {
	width:80%;
	height:40%;
	margin:0;
	display:inline-block;
	text-align: center;
	padding-top:10px;
	font-size:15px;
	
}

.LBA_id{
	width:20%;
	height:100%;
	margin:0;
	float:right;
	padding-top:30px;
	transform: rotate(-90deg);
}

.LBA_dims{
	width:80%;
	height:60%;
	margin:0;
	display:inline-block;
	padding-top:10px;
	font-size:17px;
}

@media print{
	@page {
      size: 3in 1.5in;
      
    }
	/** Remove Padding-top of body **/
	body {
	    padding: 0;
	    margin: 0mm;
	}
  	.container{
      	padding: 0 !important;
    }
 
  	/** Remove unwanted print items **/
   	nav, header, .largeBoxAppHeader, #test{
    	display:none;
  	}
}